:root{
    --one: #7C7287;
    --two: #9dc0bc;
    --three: #01172f;
    --four: #00635d;
    --five: #C1fff2;
}

header{
    background-color: var(--four);
}

body{
    background-color: var(--two);
    min-height: 100vh;
    height: fit-content;
}

form{
    margin: 24px;
}

button{
    display: block;
    font-size: 20px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
}


hr{
    height: 2px;
    border-width: 0;
    color: var(--fourfour);
    background-color: var(--four);
    width: 80%;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
}

i{
    color: ivory;
    display: inline;
    margin-left: 24px;
}

h1{
    color: var(--three);
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}

h2{
    color: var(--three);
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}

h3{
    margin-left: 24px;
    font-size: 28px;
}

h4{
    margin-left: 16px;
    font-size: 20px;
}

h5{
    color: var(--three);
    font-size: 20px;
    margin-left: 24px;
    margin-top: 12px;
}

.card-content{
    white-space: pre;
}

.currentWeather {
    background-color: var(--three);
    color: var(--five);
    margin: 24px;
}

.forecastWeather {
    background-color: var(--three);
    color: var(--five);
    display: inline-block;
    margin: 24px;
}

.forecastWeather .card-content{
    font-size: 12px;
}

#searchHistory{
    display: flex;
    flex-direction: column;
}

.columns:not(:last-child){
    margin-bottom: 0;
}